[submodule "PySR"]
	path = PySR
	url = https://github.com/LuisCarretero/PySR-neural.git
[submodule "SymbolicRegression"]
	path = SymbolicRegression
	url = https://github.com/LuisCarretero/SymbolicRegression.jl.git
